<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="ios" (click)="dismiss()">Cancel</ion-button>
      <ion-button *ngIf="!ios" (click)="selectAll(false)">Reset</ion-button>
    </ion-buttons>

    <ion-title>
      Filter Students
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="applyFilters()" strong>Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [lines]="ios ? 'inset' : 'full'">
    <ion-list-header>Account Types</ion-list-header>
    <ion-item>
      <ion-label>Admins&nbsp;</ion-label>
      <ion-checkbox [(ngModel)]="adminsIsChecked"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Property Managers&nbsp;</ion-label>
      <ion-checkbox [(ngModel)]="propertyManagersIsChecked"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Pet Owners&nbsp;</ion-label>
      <ion-checkbox [(ngModel)]="petOwnersIsChecked"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer translucent="true" *ngIf="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="selectAll(false)">Deselect All</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="selectAll(true)">Select All</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
