<ion-content class="speaker-detail">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/account/pets"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="pet.species=='Dog'" class="dog-background">

  </div>

  <div *ngIf="pet.species=='Cat'" class="cat-background">

  </div>

<h3><b><u>Expense Details:</u></b></h3>
<ion-list inset>
  <ion-row>
    <ion-col>
      <ion-item><b>Expense Name:&nbsp;</b>{{expense.expenseName}}</ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col >
      <ion-item ><b>Expense Cost:&nbsp;</b>{{expense.expenseCost}}</ion-item>
   </ion-col>
</ion-row>
</ion-list>

</ion-content>
