<ion-content class="speaker-detail">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/admin/accounts"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div style="text-align: center;">
    <img src="https://www.gravatar.com/avatar?d=mm&s=140" alt="avatar" style="text-align: center;">
  </div>
  <ion-row>
    <ion-col style="text-align: center;">
      <h2>Account Details</h2>
    </ion-col>
  </ion-row>
  <ion-list inset>

    <ion-row>
      <ion-col>
       <h3><u><b>Basic Details:</b></u></h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item><b>Id:&nbsp;</b>{{accountId}}</ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item><b>Role:&nbsp;</b>
          <span *ngIf="account.role=='PropertyManager'">Property Manager</span>
          <span *ngIf="account.role=='User'">Pet Owner</span>
          <span *ngIf="account.role=='Admin'">Admin</span>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item><b>Title:&nbsp;</b>{{account.title}}</ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item><b>First Name:&nbsp;</b>{{account.firstName}}</ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item><b>Last Name:&nbsp;</b>{{account.lastName}}</ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item><b>Email:&nbsp;</b>
          <b *ngIf="account.isVerified==false" style="color: firebrick;">{{account.email}} (Not Verified)</b>
          <b *ngIf="account.isVerified==true" style="color:green">{{account.email}} (Verified)</b>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item><b>Account Created:&nbsp;</b> {{account.created}}</ion-item>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-row>
        <ion-col>
          <h3 style="text-align: center;"><b><u>Current Address:</u></b></h3>
        </ion-col>
      </ion-row>
    </ion-row>
    <div *ngIf="hasProperty==false">This Account Is Not Asigned To A Property</div>
    <div *ngIf="hasProperty==true">
    <ion-row>
      <ion-col>
        <ion-item><b>House / Unit #:&nbsp;</b>{{petOwnerProperty.houseUnitNumber}}</ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item><b>Street:&nbsp;</b>{{petOwnerProperty.street}}</ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item><b>City:&nbsp;</b>{{petOwnerProperty.city}}</ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item><b>State:&nbsp;</b>{{petOwnerProperty.state}}</ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item><b>Zip Code:&nbsp;</b>{{petOwnerProperty.zip}}</ion-item>
      </ion-col>
    </ion-row>
  </div>

  <ion-row>
    <ion-row>
      <ion-col>
        <h3 style="text-align: center;"><b><u>Personal Pets:</u></b></h3>
      </ion-col>
    </ion-row>
  </ion-row>

  <div *ngIf="hasPets==false">This Account Has No Personal Pets</div>
  <ion-grid fixed *ngIf="hasPets==true">
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let pet of petOwnerPets">
        <ion-card class="speaker-card">
          <!--<ion-card-header>-->
            <ion-item detail="false" lines="none" class="speaker-item" routerLink='/admin/accounts/account-details/{{accountId}}/pets/pet-details/{{pet.id}}'>
              <ion-avatar slot="start" *ngIf="pet.species=='Dog'" >
                <img src="../../../../assets/img/speakers/puppy.jpg" [alt]="pet.petName + ' profile picture'">
              </ion-avatar>
              <ion-avatar slot="start" *ngIf="pet.species=='Cat'" >
                <img src="../../../../assets/img/speakers/kitten.jpg" [alt]="pet.petName + ' profile picture'">
              </ion-avatar>
              <ion-label>
                <h2>{{pet.petName}}</h2>
                <p>{{pet.species}}</p>
                <p>{{pet.breed}}</p>
              </ion-label>
              <ion-rating rate='4.5' readonly="false" size="default">
              </ion-rating>
            </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="(account.role=='PropertyManager')||(account.role=='Admin')">
  <ion-row>
    <ion-row>
      <ion-col>
        <h3 style="text-align: center;"><b><u>Property Manager Details:</u></b></h3>
      </ion-col>
    </ion-row>
  </ion-row>
  <ion-row>
      <ion-button  expand="block" shape="block" color="primary" routerLink='/admin/accounts/account-details/{{accountId}}/properties'>
        View Properties ({{propertyManagerPropertiesCount}})
      </ion-button>
      <ion-button  expand="full" shape="block" color="secondary" routerLink='/admin/accounts/account-details/{{accountId}}/pet-owners'>
        View Pet Owners ({{propertyManagerPetOwnersCount}})
      </ion-button>
      <ion-button  expand="full" shape="block" color="medium" routerLink='/admin/accounts/account-details/{{accountId}}/properties-pets'>
        View Pets ({{propertyManagerPetsCount}})
      </ion-button>
  </ion-row>

</div>

  </ion-list>
  <ion-row>
    <ion-col>
      <ion-button shape="block" color="danger">Delete Account</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
