<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account/profile"></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-segment *ngIf="ios" [(ngModel)]="segment">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
    <ion-title *ngIf="!ios && !showSearchbar" text-align-center size="large" color="secondary">All Properties Pets
    </ion-title>
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="queryText"
      (ionCancel)="showSearchbar = false" placeholder="Search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
        <span *ngIf="ios">Filter</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="!ios">
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content >
<ion-content fixed *ngIf="segment=='all'">

  <ion-grid *ngFor="let pet of propertyPets">
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card class="speaker-card"  *ngFor="let pets of pet.petOwnerPets">
          <!--<ion-card-header>-->
            <ion-item detail="false" lines="none" class="speaker-item" routerLink='{{currentRoute}}/pet-details/{{pets.id}}'>
              <ion-avatar slot="start" *ngIf="(pets.species=='Dog')&&(pets.species!='undefined')" >
                <img src="../../../../assets/img/speakers/puppy.jpg">
              </ion-avatar>
              <ion-avatar slot="start" *ngIf="(pets.species=='Cat')&&(pets.species!='undefined')" >
                <img src="../../../../assets/img/speakers/kitten.jpg">
              </ion-avatar>
              <ion-label>
                <h2>{{pets.petName}}</h2>
                <p>{{pets.species}}</p>
                <p>{{pets.breed}}</p>
              </ion-label>
              <ion-rating rate={{pets.rating}} readonly="false" size="default">
              </ion-rating>
            </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
</ion-content>
