<ion-content class="speaker-detail">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/reports-manager/studentss"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="speaker-background">

  </div>
  <ion-list inset>
<ion-row>
  <ion-col>
   <h3><u><b>Student Details:</b></u></h3>
  </ion-col>
</ion-row>

  <ion-row>
    <ion-col>
      <ion-item><b>Name:&nbsp;</b>{{firstName}} {{lastName}}</ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item><b>Email:&nbsp;</b>{{email}}&nbsp;<ion-icon *ngIf="isVerified==true" style="color:green" name="checkmark-circle"></ion-icon>
        <ion-icon name="checkmark-circle"  *ngIf="isVerified==false" style="color: firebrick;"></ion-icon>&nbsp;</ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item><b>Account Created:&nbsp;</b> {{created}}</ion-item>
    </ion-col>
  </ion-row>
  <!--Property Details Section-->

  <ion-row>
    <ion-col>
     <h3><u><b>Student Expenses:</b></u></h3>
    </ion-col>
  </ion-row>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let expense of studentExpenses">
        <ion-card class="speaker-card">
          <!--<ion-card-header>-->
            <ion-item detail="false" lines="none" class="speaker-item" routerLink='/account/expenses/expense-details/{{expense.id}}'>
              <ion-avatar slot="start">
                <img src="../../../../assets/img/money.png" [alt]="'Expense Image'">
              </ion-avatar>
              <ion-label>
                <h2>{{expense.expenseName}}</h2>
                <p>{{expense.expenseCost}}</p>
                <p>{{expense.created}}</p>
              </ion-label>
            </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row>
    <ion-col>
     <h5><u><b>Expenses Total</b></u>: ${{totalOfExpenses}}</h5>
    </ion-col>
  </ion-row>


</ion-list>

    <ion-button expand="full" shape="block" color="danger">Remove Student</ion-button>

</ion-content>
