<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-segment *ngIf="ios" [(ngModel)]="segment">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="property-managers">
        Favorites
      </ion-segment-button>

    </ion-segment>
    <ion-title *ngIf="!ios && !showSearchbar" text-align-center size="large" color="secondary">Accounts Management
      (Admin)</ion-title>
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="queryText"
      (ionCancel)="showSearchbar = false" placeholder="Search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
        <span *ngIf="ios">Filter</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="!ios">
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar color="secondary">
      <ion-title text-align-center size="large">Accounts (Admin)</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="queryText" placeholder="Search"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-list #allAccountsList>
    <ion-item-divider sticky>

    </ion-item-divider>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-md="6" *ngFor="let account of allAccounts">
          <ion-card class="speaker-card">
            <ion-card-header>
              <ion-item detail="false" lines="none" class="speaker-item">
                <ion-label>
                  <div>
                  <ion-avatar style="text-align: center;">
                    <img src="../../../../assets/img/avatar.svg" style="text-align: center;">
                  </ion-avatar>
                  <h2 *ngIf="account.role=='PropertyManager'">Property Manager</h2>
                  <h2 *ngIf="account.role=='User'">Pet Owner</h2>
                  <h2 *ngIf="account.role=='Admin'">&nbsp;&nbsp;Admin</h2>
                </div>
                </ion-label>
                <ion-label>
                  <p><ion-button fill="clear" routerLink="/admin/accounts/account-details/{{account.id}}">{{account.firstName}} {{account.lastName}}</ion-button></p>
                  <p><ion-button fill="clear">Pets ({{account.petOwnerPetsCount}})</ion-button></p>
                  <p *ngIf="account.propertyManagerPropertiesCount>0"><ion-button fill="clear">Properties ({{account.propertyManagerPropertiesCount}})</ion-button></p>
                  <p *ngIf="account.propertyManagerPropertiesCount==0"><ion-button fill="clear" disabled></ion-button></p>
                </ion-label>
              </ion-item>
            </ion-card-header>

            <ion-card-content>
              <ion-list lines="none">

                  <ion-label>
                    <h3 *ngIf="account.isVerified==true" style="color:green"><b>VERIFIED: {{account.email}}</b></h3>
                    <h3 *ngIf="account.isVerified==false" style="color: firebrick;"><b>NOT VERIFIED:
                        {{account.email}}</b></h3>
                    <p>Created:&nbsp;{{account.created}}</p>
                    <!--<p>{{account.accountProperty.houseUnitNumber}} {{account.accountProperty.street}}</p>
                    <p>{{account.accountProperty.city}} {{account.accountProperty.state}},{{account.accountProperty.zip}} </p>-->
                  </ion-label>

              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>


</ion-content>
