<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title *ngIf="!ios && !showSearchbar" text-align-center size="large" color="secondary">Accounts
      (Admin)</ion-title>
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="queryText"
      (ionCancel)="showSearchbar = false" placeholder="Search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
        <span *ngIf="ios">Filter</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="!ios">
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar color="secondary">
      <ion-title text-align-center size="large">Accounts (Admin)</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="queryText" placeholder="Search" (ionChange)="updateView()"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-item-divider sticky>
    <ion-button shape="round" fill="outline" slot="end" routerLink="/admin/create-account">
      <ion-icon name="add-outline"></ion-icon>Create Account
    </ion-button>
  </ion-item-divider>

    <!--<ion-item-divider sticky>

    </ion-item-divider>-->
    <ion-grid fixed *ngIf="segment=='all'">
      <ion-row>
        <ion-col size="12" size-md="6" *ngFor="let account of allAccounts"
          [hidden]="account.role==propertyManagerCondition || account.role==adminCondition || account.role==petOwnerCondition || ((account.firstName.indexOf(queryText)==-1 && account.lastName.indexOf(queryText)==-1 && account.email.indexOf(queryText)==-1)  && queryText)">
          <ion-card class="speaker-card" routerLink="/admin/accounts/account-details/{{account.id}}">
            <ion-card-header>
              <ion-item detail="false" lines="none" class="speaker-item">
                <ion-label>
                  <div>
                    <ion-avatar style="text-align: center;">
                      <img src="../../../../assets/img/avatar.svg" style="text-align: center;">
                    </ion-avatar>
                    <h2>{{account.firstName}} {{account.lastName}}</h2>
                  </div>
                </ion-label>
                <ion-label>
                  <h2 *ngIf="account.role=='ReportsManager'">Reports Manager</h2>
                  <h2 *ngIf="account.role=='Student'">Student</h2>
                  <h2 *ngIf="account.role=='Admin'">Admin</h2>
                  <p>
                    Expenses ({{account.studentExpensesCount}})
                  </p>
                </ion-label>
              </ion-item>
            </ion-card-header>

            <ion-card-content>
              <ion-list lines="none">
                <ion-label>
                  <h2 >{{account.email}}&nbsp;<ion-icon *ngIf="account.isVerified==true" style="color:green" name="checkmark-circle"></ion-icon>
                    <ion-icon name="checkmark-circle"  *ngIf="account.isVerified==false" style="color: firebrick;"></ion-icon></h2>
                  <p>Created:&nbsp;{{account.created}}</p>
                </ion-label>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>


</ion-content>
