<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account/profile"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-align-center size="large">All Pet Owners</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar color="secondary">
      <ion-title text-align-center size="large">All Pet Owners</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-md="6" *ngFor="let petOwner of petOwnersList">
          <ion-card class="speaker-card">
            <ion-card-header>
              <ion-item detail="false" lines="none" class="speaker-item"
                routerLink="/property-manager/pet-owners/pet-owner-details/{{petOwner.id}}">
                <ion-avatar slot="start">
                  <img src="../../../../assets/img/about/home.jpg" [alt]="' property picture'">
                </ion-avatar>
                <ion-label>
                  <h2>{{petOwner.firstName}} {{petOwner.lastName}}</h2>
                  <h3>Pets:{{petOwner.petOwnerPetsCount}}</h3>
                </ion-label>
              </ion-item>
            </ion-card-header>

            <ion-card-content>
              <ion-list lines="none">
                <ion-item>
                  <ion-label>
                    <h3 *ngIf="petOwner.isVerified==true" style="color:green"><b>VERIFIED: {{petOwner.email}}</b></h3>
                    <h3 *ngIf="petOwner.isVerified==false" style="color: firebrick;"><b>NOT VERIFIED: {{petOwner.email}}</b></h3>
                    <p>{{petOwner.petOwnerProperty.houseUnitNumber}} {{petOwner.petOwnerProperty.street}}</p>
                    <p>{{petOwner.petOwnerProperty.city}} {{petOwner.petOwnerProperty.state}},{{petOwner.petOwnerProperty.zip}} </p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
