<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account/profile"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-align-center size="large">All Properties</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="{{currentRoute}}/add" shape="round" fill="outline">
        <ion-icon name="add-outline"></ion-icon> Add Property
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar color="secondary">
      <ion-title text-align-center size="large">All Properties</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-md="6" *ngFor="let property of propertiesList">
          <ion-card class="speaker-card">
            <ion-card-header>
              <ion-item detail="false" lines="none" class="speaker-item"
                routerLink="{{currentRoute}}/property-details/{{property.id}}">
                <ion-avatar slot="start">
                  <img src="../../../../assets/img/about/home.jpg" [alt]="' property picture'">
                </ion-avatar>
                <ion-label>
                  <h2>{{property.propertyName}}</h2>
                </ion-label>
              </ion-item>
            </ion-card-header>

            <ion-card-content>
              <ion-list lines="none">
                <ion-item>
                  <ion-label>
                    <h3>{{property.houseUnitNumber}} {{property.street}}</h3>
                    <h3>{{property.city}}, {{property.state}}, {{property.zip}}</h3>
                    <br>
                    <div *ngIf="property.propertyPetOwnerCount==0">
                      <h3>No Pet Owners</h3>
                    </div>
                    <div *ngIf="property.propertyPetOwnerCount!=0">
                      <h2><b>Pet Owner:</b> {{property.propertyPetOwner.firstName}} {{property.propertyPetOwner.lastName}}</h2>
                      <h2><b>Number Of Pets:</b> {{property.propertyPetsCount}}</h2>
                    </div>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
