<ion-content class="speaker-detail">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/admin/accounts"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div style="text-align: center;">
    <img src="https://www.gravatar.com/avatar?d=mm&s=140" alt="avatar" style="text-align: center;">
  </div>
  <ion-row>
    <ion-col style="text-align: center;">
      <h2>Account Details</h2>
    </ion-col>
  </ion-row>
  <ion-list inset>

    <ion-row>
      <ion-col>
       <h3><u><b>Basic Details: (Click To Edit)</b></u></h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item><b>Id:&nbsp;</b>{{accountId}}</ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item (click)="changeAccount('role')"><b>Role:&nbsp;</b>
          <span *ngIf="account.role=='ReportsManager'">Reports Manager</span>
          <span *ngIf="account.role=='Student'">Student</span>
          <span *ngIf="account.role=='Admin'">Admin</span>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item (click)="changeAccount('title')"><b>Title:&nbsp;</b>{{account.title}}</ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item (click)="changeAccount('firstName')"><b>First Name:&nbsp;</b>{{account.firstName}}</ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item (click)="changeAccount('lastName')"><b>Last Name:&nbsp;</b>{{account.lastName}}</ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item (click)="changeAccount('email')"><b>Email:&nbsp;</b>
          <b *ngIf="account.isVerified==false" style="color: firebrick;">{{account.email}} (Not Verified)</b>
          <b *ngIf="account.isVerified==true" style="color:green">{{account.email}} (Verified)</b>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item><b>Account Created:&nbsp;</b> {{account.created}}</ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item><b>Account Last Updated:&nbsp;</b> {{account.updated}}</ion-item>
      </ion-col>
    </ion-row>

  <ion-row>
    <ion-row>
      <ion-col>
        <h3 style="text-align: center;"><b><u>Personal Expenses:</u></b></h3>
        <ion-button routerLink="{{currentRoute}}/expenses/add" shape="round" fill="outline">
          <ion-icon name="add-outline"></ion-icon>Add Expense
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-row>

  <div *ngIf="hasExpenses==false">This Account Has No Personal Expenses</div>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let expense of studentExpenses">
        <ion-card class="speaker-card">
          <!--<ion-card-header>-->
            <ion-item detail="false" lines="none" class="speaker-item" routerLink='/account/expenses/expense-details/{{expense.id}}'>
              <ion-avatar slot="start">
                <img src="../../../../assets/img/money.png" [alt]="'Expense Image'">
              </ion-avatar>
              <ion-label>
                <h2>{{expense.expenseName}}</h2>
                <p>{{expense.expenseCost}}</p>
                <p>{{expense.created}}</p>
                <p>{{expense.expenseCategory}}</p>
              </ion-label>
            </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
       <h5><u><b>Expenses Total</b></u>: ${{totalOfExpenses}}</h5>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="(account.role=='ReportsManager')||(account.role=='Admin')">
  <ion-row>
    <ion-row>
      <ion-col>
        <h3 style="text-align: center;"><b><u>Reports Manager Details: (VIEW AS THEM)</u></b></h3>
      </ion-col>
    </ion-row>
  </ion-row>
  <ion-row>
      <ion-button  expand="block" shape="block" color="primary" routerLink='/admin/accounts/account-details/{{accountId}}/reports'>
        View Reports ({{propertyManagerPropertiesCount}})
      </ion-button>
      <ion-button  expand="full" shape="block" color="secondary" routerLink='/admin/accounts/account-details/{{accountId}}/students'>
        View Students ({{propertyManagerPetOwnersCount}})
      </ion-button>
      <ion-button  expand="full" shape="block" color="medium" routerLink='/admin/accounts/account-details/{{accountId}}/reports-expenses'>
        View Expenses ({{propertyManagerPetsCount}})
      </ion-button>
  </ion-row>

</div>

  </ion-list>
  <ion-row>
    <ion-col>
      <ion-button shape="block" color="danger" (click)="deleteAreYouSure()">Delete Account</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
