<h1 *ngIf="isAddMode">Create Property</h1>
<h1 *ngIf="!isAddMode">Edit Property</h1>
<h4 *ngIf="!isAddMode">Property Id: {{objectId}}</h4>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-6">
            <label>Property Name</label>
            <input type="text" formControlName="propertyName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.propertyName.errors }" />
            <div *ngIf="submitted && f.propertyName.errors" class="invalid-feedback">
                <div *ngIf="f.propertyName.errors.required">Property Name is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            <label>Property Manager Id</label>
            <input type="text" formControlName="propertyManagerId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.propertyManagerId.errors }" />
            <div *ngIf="submitted && f.propertyManagerId.errors" class="invalid-feedback">
                <div *ngIf="f.propertyManagerId.errors.required">Property Manager Id is required</div>
            </div>
        </div>
        <div class="form-group col-3">
            <label>Pet Owner Id</label>
            <input type="text" formControlName="petOwnerId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.petOwnerId.errors }" />
            <div *ngIf="submitted && f.petOwnerId.errors" class="invalid-feedback">
                <div *ngIf="f.petOwnerId.errors.required">Pet Owner Id is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-2">
            <label>House/Unit #</label>
            <input type="text" formControlName="houseUnitNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.houseUnitNumber.errors }" />
            <div *ngIf="submitted && f.houseUnitNumber.errors" class="invalid-feedback">
                <div *ngIf="f.houseUnitNumber.errors.required">House/Unit # is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Street Name</label>
            <input type="text" formControlName="street" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.street.errors }" />
            <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
                <div *ngIf="f.street.errors.required">Street is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label>City</label>
            <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                <div *ngIf="f.city.errors.required">City is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-2">
            <label>State</label>
            <input type="text" formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.state.errors }" />
            <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                <div *ngIf="f.state.errors.required">State is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Zip Code</label>
            <input type="text" formControlName="zip" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.zip.errors }" />
            <div *ngIf="submitted && f.zip.errors" class="invalid-feedback">
                <div *ngIf="f.zip.errors.required">Zip is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Pet Count</label>
            <input type="text" formControlName="petCount" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.petCount.errors }" />
            <div *ngIf="submitted && f.petCount.errors" class="invalid-feedback">
                <div *ngIf="f.petCount.errors.required">Pet Count is required</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/property-manager/properties" class="btn btn-link">Cancel</a>
    </div>
</form>