<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-align-center size="large" >My Pets</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/account/pets/add" shape="round" fill="outline">
        Add Pet
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar color="secondary">
      <ion-title text-align-center size="large">My Pets</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let pet of petsList">
        <ion-card class="speaker-card">
          <ion-card-header>
            <ion-item detail="false" lines="none" class="speaker-item" routerLink='/account/pets/pet-details/{{pet.id}}'>
              <ion-avatar slot="start" *ngIf="pet.species=='Dog'" >
                <img src="../../../../assets/img/speakers/puppy.jpg" [alt]="pet.petName + ' profile picture'">
              </ion-avatar>
              <ion-avatar slot="start" *ngIf="pet.species=='Cat'" >
                <img src="../../../../assets/img/speakers/kitten.jpg" [alt]="pet.petName + ' profile picture'">
              </ion-avatar>
              <ion-label>
                <h2>{{pet.petName}}</h2>
                <p>{{pet.species}}</p>
              </ion-label>
              <ion-rating rate='4.5' readonly="false" size="default">
              </ion-rating>
            </ion-item>
          </ion-card-header>

          <ion-card-content>
            <ion-list lines="none">
              <ion-item>
                <ion-label>
                  <h3>Breed: {{pet.breed}}</h3>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
